
  <nav class="navbar navbar-expand-md navbar-light border-bottom sticky-top">

    <div class="container">
      <a class="navbar-brand ps-auto" href="/"><i class="fa-solid fa-hat-cowboy"></i> WeHood</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <div class="navbar-nav nav-top ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rules
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <a class="nav-link" href="#">Policy</a>
          <a class="nav-link" href="#">Contact Us</a>
        </div>



        <!-- Search Bar -->
        <div class="navbar-nav ms-auto">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search Forum" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>


        <!-- Authentication -->
        <div class="navbar-nav ms-auto navmar">
          <i class="fa-solid fa-sun"></i>
          <a class="nav-link" href="#">Signup</a>
          <a class="nav-link" href="#">Login</a>
        </div>




      </div>
    </div>
  </nav>

