<div class="d-flex flex-column flex-shrink-0 p-3 " style="width: 280px;">
  <a href="/posts/new" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn green-btn mb-3">Start Discussion</button>
  </a>
  <!-- <hr> -->
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/posts" class="nav-link active" aria-current="page">
          <i class="fa-regular fa-comments"></i>
        All Discussions
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
          <i class="fa-brands fa-js"></i>&nbsp;&nbsp;
        Javascript
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
          <i class="fa-brands fa-node"></i>
        Node.js
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
          <i class="fa-brands fa-php"></i>
        PHP
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
          <i class="fa-solid fa-code"></i>
        Other Coding
      </a>
    </li>
  </ul>
</div>
