<% layout('/layouts/boilerplate.ejs') -%>


<div class="top-menu mt-3">
  <%- include("../includes/sidebar.ejs") %>
  <div class="main-menu p-3 ">
    
    <div class="row">
        
        <h4>Login Form</h4>

        <form action="/login" method="post" class="needs-validation" novalidate>

          <div class="mb-3 mt-4">
              <label for="username" class="form-label">Username</label>
              <input type="text" name="username" id="username" placeholder="Enter Your Username" class="form-control" required>
              <div class="invalid-feedback">Please Enter Username</div>
          </div>

          <!-- <div class="mb-3 mt-4">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" id="email" placeholder="Enter Your Email" class="form-control" required>
              <div class="invalid-feedback">Please Enter Email</div>
          </div> -->

          <div class="mb-3 mt-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" id="password" placeholder="Enter Your Password" class="form-control" required>
              <div class="invalid-feedback">Please Enter Password</div>
          </div>

          <button class="btn btn-success mb-4 mt-3">Log in</button>


      </form>
        
        
    </div>




  </div>
</div>






    
</div>