<% layout('/layouts/boilerplate.ejs') -%>


<div class="top-menu mt-3">
  <%- include("../includes/sidebar.ejs") %>
  <div class="main-menu p-3 ">

    <div class="row">
        
        <h4>Signup Form</h4>

        <form action="/signup" method="post" class="needs-validation" novalidate enctype="multipart/form-data">

          <div class="mb-3 mt-4">
              <label for="username" class="form-label">Username</label>
              <input type="text" name="username" id="username" placeholder="Enter Your Username" class="form-control" required>
              <div class="valid-feedback">Username Look's Good</div>
              <div class="invalid-feedback">Please Enter Username</div>
          </div>

          <div class="mb-3 mt-4">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" id="email" placeholder="Enter Your Email" class="form-control" required>
              <div class="invalid-feedback">Please Enter Email</div>
          </div>

          <div class="mb-3 mt-4">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" id="password" placeholder="Enter Your Password" class="form-control" required>
              <div class="invalid-feedback">Please Enter Password</div>
          </div>

          <div class="mb-3 mt-4">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="user[image]" placeholder="Home Image URL/Link" class="form-control" required>
            <div class="valid-feedback">Image Look's Good</div>
            <div class="invalid-feedback">Please Upload Image</div>
        </div>

          <button class="btn btn-success mb-4 mt-3">Sign Up</button>


      </form>

        
        
    </div>




  </div>
</div>






    
</div>